<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GooglePageTestSuite" verbose="1" >
    <test name="GooglePageTest" >
        <classes>
            <class name="my.supercompany.GoogleTest" />
        </classes>
    </test>
</suite>
