<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GooglePageTestSuite" verbose="1" >
    <test name="ToDoMVCTest" >
        <classes>
            <class name="com.greycat.AddTaskTest" />
            <class name="com.greycat.EditTaskTest" />
            <class name="com.greycat.CompleteTaskTest" />
            <class name="com.greycat.CompleteAllTasksTest" />
            <class name="com.greycat.ClearCompletedTasksTest" />
            <class name="com.greycat.DeleteTaskTest" />
        </classes>
    </test>
</suite>
